{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "@cpsoinos/eslint-config-typescript",
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["off"],
    "typescript-sort-keys/interface": "off"
  }
}
